service_account_key_file    = "secrets/key.json"
cloud_id                    = "b1****************jj"
folder_id                   = "b1****************mi"
zone                        = "ru-central1-a"
image_id                    = "fd****************lo"
subnet_id                   = "e9****************s4"
public_key_path             = "~/.ssh/ubuntu.pub"
connection_private_key_path = "~/.ssh/ubuntu"
